<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034123469350-aoe0vh5ejg4oon8v7afaretjghuiko0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034123469350-aoe0vh5ejg4oon8v7afaretjghuiko0t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1034123469350-j2ovpcdaibmt3re0g165iq736lfaskt9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRnTPpzPC5X2PphXpBlu-3HuZMchSEjKk</string>
	<key>GCM_SENDER_ID</key>
	<string>1034123469350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.megavision.FCM-iOS</string>
	<key>PROJECT_ID</key>
	<string>fir-c545b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-c545b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034123469350:ios:81d62b205fc6020d7efce7</string>
	<key>DATABASE_URL</key>
	<string>https://fir-c545b.firebaseio.com</string>
</dict>
</plist>